@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900 font-poppins;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-comic {
  font-family: 'Comic Neue', cursive;
}

h1, h2, h3, h4 {
  @apply font-poppins font-extrabold;
}

a {
  @apply text-primary-600 hover:text-primary-700 transition;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  margin-bottom: 3rem;
}
